<h1>Edit Product</h1>

<%= render 'form', product: @product %><br>

<h5><%= link_to "Delete Product", product_path(@product),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %></h5>
